/*****Banner Styles*****/

.backgroundImage{
    width: 100%;
    opacity: 0.25;
    object-fit: cover;
    background-color: #ffffff;
    z-index: 1;
}

.headerContainer{
    height: 100%;
    width: 100%;
}

.headerContainer > h2{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    width: 100%;
    left: 0px;
    font-size: 5em;
    color: black;
    position: absolute;
    top: 25%;
    vertical-align: middle;
}

.headerContainer > h4{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-size: 3em;
    width: 100%;
    left: 0px;
    color: black;
    position: absolute;
    bottom: 25%;
    vertical-align: middle;
}